openapi: 3.0.2
info:
  version: '5.5.0'
  title: Data Exchange Catalogue Server APIs
  license:
    name: Apache 2.0
  description: |
    # Introduction
    The Catalogue is DXs' (Data Exchange) dataset discovery portal and metadata store. 
    It enables *Providers* of datasources to describe them with DX based annotations
    to make discovery and consumption of data both automatable and semantically describable. 
    For search and discovery, it allows users to search through text and geo-based queries.
    The catalogue is a [JSON-LD](https://json-ld.org/) document stored and based on the [RDF](https://www.w3.org/RDF/) information exchange model. 

    # Configurations
    - **Server**: 
      - In the doc, we display the server url to be https://example-cat.com with the hostname as example-cat.com
      - This could be configured according to the deployment
    - **Base path**:
      - Base path is the path on which API is served, relative to the host
      - It is the initial part of the API
      - The base path for [DX AAA Server](https://github.com/datakaveri/iudx-aaa-server) is set to `/auth/v1`
      - Currently, `/iudx/cat/v1` is being used as base path for all the DX Catalogue Server APIs
      - These value could be configured according to the deployment
    - **Request Samples**:
      - The `<token>` in the header of request sample could be replaced with respective token value that could be obtained from DX Auth Server
      - The `<payload>` in the request sample could be replaced with the payload given adjacent to the request sample
      - The payload contains `<some_item_id>`, `<provider_id>`, `<some_item_name>`, for which the appropriate values could be added 
    
    # Pagination
    Catalogue server also offers way to paginate the result for queries. If a query returns large number of records then user can use additional parameters in query parameters to limit numbers of records to be returned.
    
    - <b> Pagination is applicable only for</b>
       - <b>/search</b>
       - <b>/internal/ui/providers</b>
       - <b>/internal/ui/instance</b>
       - <b>/internal/ui/domain</b>
       - <b>/internal/ui/dataset</b>
       
    Additional query parameters to be used:
      - <b>offset</b> : The from parameter defines the offset from the first result you want to fetch,  ( <i>default : 0</i> ,<i>minValue: 0</i>, <i>maxValue: 10000</i> )
      - <b>limit</b> : The size parameter allows you to configure the maximum results to be returned  ( <i>default: 10000</i> ,<i>minValue: 0</i>, <i>maxValue: 10000</i> )

     # API HTTP Responses
    Apart from the response codes specified in each API,
    the API server may respond with certain 4xx and 5xx error codes which are related to common API Gateway behaviours.
    The application should address them accordingly.
  contact:
    name: For support contact IUDX Team at
    email: support@iudx.org.in
    url: https://iudx.org.in/
servers:
  - url: 'https://example-cat.com/iudx/cat/v1'
    description: Production Instance
paths:
  /search:
    get:
      tags:
        - Discovery
      description: |
        Generic catalogue search query. Searches for entities that meet the
        query criteria. The search endpoint allows one to query a particular property of an
        entity, or by its geo-location annotation, or by a full text-search or a combination of
        all three.
        #### Property Search
        One may combine multiple properties in a search through a logical "&". For each such property
        multiple possible values may be given. The syntax for a property query is -
        `property=[<prop-1>,<prop-2>]&value=[[<prop-1-val-1>,<prop-1-val-2>],[<prop-2-val-1>]]`
        Property search can be applied to only certain properties. These properties defined in the DX Schema Vocalbulary for all subClasses of [IUDXEntity](https://voc.iudx.org.in/IUDXEntity)
        These perform exact matches in the case of keywords such as
        `id`, `resourceGroup`, `provider`, `resourceServer`, `type`
        and approximate matches (text based) for all other properties.
        Some common uses are 
          - tags: `property=[tags]&value=[[aqm,pollution]]`
          - by type of entity: `property=[type]&value=[[iudx:ResourceGroup]]`. Valid entities are `iudx:Resource`, `iudx:ResourceGroup`, `iudx:Provider`, `iudx:ResourceServer`.
          - a combination: `property=[tags,type]&value=[[aqm,pollution], [iudx:ResourceGroup]]
          - resource belonging to a group: `property=[resourceGroup]&value=[[<group-id>]]`

        #### Geo Search
        Geo search accepts geojson based queries. The params and their accepted values are -
          - geoproperty: Which geoproperty to query. Default is `location`.
          - georel: Geo-relationship. One of `within`, `disjoint`, `intersects`.
          - geometry: GeoJson geometries. One of `Point`(point and circle), `Polygon`, `LineString`(for interseaction with points and polygons), `bbox`.
              - Point: Point and radius query
                  - coordinates: The center point of the circle, for e.g, `[73,13]` (lon and lat)
                  - maxDistance: Radius from the center point in meters, for e.g `100`
                  - georel: `within`
              - Polygon: Polygon/Multi-Polygon query
                  - coordinates: Coordinates of the polygon/s, for e.g, `[[[73,13],[73,12],[73,13]]]`.  Note, (lon and lat) and the first coordinate must be same as last.
                  - georel: `within, intersects, disjoint`
              - LineString: Multi line string
                  - coordinates: Coordinates of the multi-line, for e.g, `[[73,13],[74,15],[75,16]]`. 
                  - georel: `intersects`
              - bbox: Bounding box
                  - coordinates: `[[top-left],[bottom-right]]`, `[[73,13],[74,12]]`. 
                  - georel: `within`

        #### Text search
        This is a fuzzy full text based search. It searches across all entity types.
          - q: Text to be queried

        #### Complex search
        A combination of the above is allowed to make searches more  complex.

        #### Limits and filters
          - Documents returned can be limited by specifying a limit and offset. For e.g, `limit=100&offset=10` gives 100 documents from the 10th search result.
          - A subset of properties of returned documents can be filtered out. For e.g, `filter=[id]` returns documents with only the `id` property retained in them.
          - The sum of `offset` and `limit` should `<= 10000`, i.e. if the `offset=100`, then max `limit` should be `9900` and so on.
      operationId: search
      parameters:
        - name: instance
          in: header
          description: |
            DX instance on which this query is to be made. Don't mention this if search on entire catalogue is to be made. Else mentioning a specific instance name here restricts search only to that instance.
          required: false
          schema:
            type: string
            example: 'pune, surat, varanasi'
        - name: property
          in: query
          description: |
            Array of properties (strings) on which query is to be made. A logical "and" is performed between the properties. Only a maximum of 4 properties are allowed to be queried at once. The mapping between a property and a value is one-to-one. The only allowed properties to be queried are per the vocabulary schema mentioned in each sub-Class of [IUDXEntity](https://voc.iudx.org.in/IUDXEntity).
          schema:
            type: array
            minItems: 1
            maxItems: 4
            uniqueItems: true
            items:
              type: string
        - name: value
          in: query
          description: |
            Values of the one-to-one mapped strings in property. A logical "or" is performed for each value which is mapped to a property. For each property, only a maximum of 4 values are allowed. For e.g for property=[id,type] then value=[[<some-id>], [<some-type>]].
          required: false
          schema:
            type: array
            minItems: 1
            maxItems: 4
            uniqueItems: true
            items:
              type: string
        - name: geoproperty
          in: query
          description: Name of the property if the query is on a geospatial property.
          schema:
            enum:
              - location
              - geocovers
        - name: georel
          in: query
          description: Type of geoquery
          required: false
          schema:
            enum:
              - within
              - intersects
        - name: geometry
          in: query
          description: Geometry of the geo-query
          schema:
            enum:
              - Point
              - Polygon
              - LineString
              - bbox
        - name: coordinates
          in: query
          description: |
            Coordinates for the specific query type. For e.g, [[1,2], [3,4]]. Note: The data-type of this field is a string, therefore the coordinates are a string encoded multidimensional array.Precision supported is 6 decimal places.
          required: false
          schema:
            type: array
            format: double
            minItems: 1
            maxItems: 10
            items:
              type: number
        - name: maxDistance
          in: query
          description: Maximum distance from center point in meters
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 10000
        - name: q
          in: query
          description: query for text/fuzzy search.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - name: limit
          in: query
          description: Limit number of records in search response.
          required: false
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          description: Offset from where the next batch of results should be returned.
          required: false
          schema:
            type: integer
        - name: filter
          in: query
          description: Filter properties to display. This is an array of strings.
          schema:
            type: array
            maxItems: 10
            items:
              type: string
      responses:
        '200':
          description: All the query parameters yielded results.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/successResponseForTagSearch'
                  - $ref: '#/components/schemas/successResponseForTagSearchMultiValue'
                  - $ref: '#/components/schemas/successResponseForSearchByCircle'
                  - $ref: '#/components/schemas/successResponseForSearchByPolygon'
                  - $ref: '#/components/schemas/successResponseForSearchByLinestring'
                  - $ref: '#/components/schemas/successResponseForSearchByBbox'
                  - $ref: '#/components/schemas/successResponseForSearchByText'
                  - $ref: '#/components/schemas/successResponseForSearchByTextVthSpecialChar'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForDiscovery'
              examples:
                Invalid Geo Value:
                  value:
                    type: 'urn:dx:cat:InvalidGeoValue'
                    "title": "Geoquery value error"
                    "detail": "Invalid value for a query param"
                Invalid Syntax:
                  value:
                    "type": "urn:dx:cat:InvalidSyntax"
                    "title": "Invalid Syntax"
                    "detail": "Invalid value for a query param"
                Invalid Syntax 1:
                  value:
                    "type": "urn:dx:cat:InvalidSyntax"
                    "title": "Invalid Syntax"
                    "detail": "Mandatory field(s) not provided"
                Precision validation:
                  value:
                    "title": "failed"
                    "type": "urn:dx:cat:InvalidPropertyValue"
                    "detail": "The max point of 'coordinates' precision is 6"
                Coordinate pair:
                  value:
                    "title": "failed"
                    "type": "urn:dx:cat:InvalidPropertyValue"
                    "detail": "The max number of 'coordinates' value is 10"
                Max Distance limit:
                  value:
                    "title": "failed"
                    "type": "urn:dx:cat:InvalidPropertyValue"
                    "detail": "The 'maxDistance' should range between 0-10000m"
                Coordinates value limit:
                  value:
                    "title": "failed"
                    "type": "urn:dx:cat:InvalidPropertyValue"
                    "detail": "Unable to parse 'coordinates'; value is Infinity"
                Invalid request - Max string size:
                  value:
                    "title": "failed"
                    "type": "urn:dx:cat:InvalidPropertyValue"
                    "detail": "The max string(q) size supported is 100"
                Bad filter:
                  value:
                    "title": "failed"
                    "type": "urn:dx:cat:BadFilter"
                    "detail": "The max number of 'filter' should be 10"
                Exceed limit|offset value:
                  value:
                    "title": "failed"
                    "type": "urn:dx:cat:InvalidPropertyValue"
                    "detail": "The limit + offset should be between 1 to 10000"
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: tag search
          source: |
            curl --location -g --request GET 'https://example-cat.com/iudx/cat/v1/search?property="[tags]"&value="[[pollution]]"&filter=[id,tags]&limit=100&offset=0'
        - lang: cURL
          label: search by circle
          source: |
            curl --location -g --request GET 'https://example-cat.com/iudx/cat/v1/search?geoproperty=location&georel=within&maxDistance=5000&geometry=Point&coordinates=[73.927285,18.502712]'
        - lang: cURL
          label: search by polygon
          source: |
            curl --location -g --request GET 'https://example-cat.com/iudx/cat/v1/search?geoproperty=location&georel=within&geometry=Polygon&coordinates=[[[75.9,14.5],[72,13],[73,20],[75.9,14.5]]]'
        - lang: cURL
          label: search by linestring
          source: |
            curl --location -g --request GET 'https://example-cat.com/iudx/cat/v1/search?geoproperty=location&georel=intersects&geometry=LineString&coordinates=[[73.874537,18.528311],[73.836808,18.572797],[73.876484,18.525007]]'
        - lang: cURL
          label: search by bbox
          source: |
            curl --location -g --request GET 'https://example-cat.com/iudx/cat/v1/search?geoproperty=location&georel=within&geometry=bbox&coordinates=[[73.8420,18.5305],[73.8665,18.5126]]'
        - lang: cURL
          label: search by text
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/search?q="Bosch Climo"'
        - lang: cURL
          label: complex search
          source: |
            curl --location -g --request GET 'https://example-cat.com/iudx/cat/v1/search?geoproperty=location&georel=within&geometry=Polygon&coordinates=[[[75.9,14.5],[72,13],[73,20],[75.9,14.5]]]&filter=[tags,id,location.geometry.coordinates]'
  /count:
    get:
      tags:
        - Discovery
      description: |
        Count APIs get the total number of hits for the given API request containing the provided query parameters.
      operationId: count
      parameters:
        - name: property
          in: query
          description: |
            Array of properties (strings) on which query is to be made. A logical "and" is
            performed between the properties. Only a maximum of 4 properties are allowed to be
            queried at once. The mapping between a property and a value is one-to-one. The only
            allowed properties to be queried are per the vocabulary schema mentioned in each
            sub-Class of [IUDXEntity](https://voc.iudx.org.in/IUDXEntity).
          schema:
            type: array
            minItems: 1
            maxItems: 4
            uniqueItems: true
            items:
              type: string
        - name: value
          in: query
          description: |
            Values of the one-to-one mapped strings in property. A logical "or" is performed for
            each value which is mapped to a property. For each property, only a maximum of 4
            values are allowed. For e.g for property=[id,type] then value=[[<some-id>],
            [<some-type>]].
          required: false
          schema:
            type: array
            minItems: 1
            maxItems: 4
            uniqueItems: true
            items:
              type: string
        - name: geoproperty
          in: query
          description: Name of the property if the query is on a geospatial property.
          schema:
            enum:
              - location
              - geocovers
        - name: georel
          in: query
          description: Type of geoquery
          required: false
          schema:
            enum:
              - within
              - intersects
        - name: geometry
          in: query
          description: Geometry of the geo-query
          schema:
            enum:
              - Point
              - Polygon
              - LineString
              - bbox
        - name: coordinates
          in: query
          description: |
            Coordinates for the specific query type. For e.g, [[1,2], [3,4]]. Note: The data-type
            of this field is a string, therefore the coordinates are a string encoded
            multidimensional array.Precision supported is 6 decimal places.
          required: false
          schema:
            type: array
            format: double
            minItems: 1
            maxItems: 10
            items:
              type: number
        - name: maxDistance
          in: query
          description: Maximum distance from center point in meters
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 10000
        - name: q
          in: query
          description: query for text/fuzzy search.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 100
      responses:
        '200':
          description: All the query parameters yielded results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForCount'
              examples:
                Success Response:
                  value:
                    type: "urn:dx:cat:Success"
                    title: "Success"
                    totalHits: 2
        '400':
          description: Bad query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForDiscovery'
              examples:
                Invalid Geo Value:
                  value:
                    type: 'urn:dx:cat:InvalidGeoValue'
                    "title": "Geoquery value error"
                    "detail": "Invalid value for a query param"
                Invalid Syntax:
                  value:
                    "type": "urn:dx:cat:InvalidSyntax"
                    "title": "Invalid Syntax"
                    "detail": "Mandatory field(s) not provided"
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: count tags
          source: |
            curl --location -g --request GET 'https://example-cat.com/iudx/cat/v1/count?value=[[pollution]]&property=[tags]'
        - lang: cURL
          label: count by circle
          source: |
            curl --location -g --request GET 'https://example-cat.com/iudx/cat/v1/count?geoproperty=location&georel=within&maxDistance=5000&geometry=Point&coordinates=[73.9,18.6]'
        - lang: cURL
          label: count by polygon
          source: |
            curl --location -g --request GET 'https://example-cat.com/iudx/cat/v1/count?geoproperty=location&georel=within&geometry=Polygon&coordinates=[[[73.696,18.592],[73.69079,18.391],[73.96,18.3643],[74.09,18.526],[73.8947,18.689830],[73.696,18.592]]]'
        - lang: cURL
          label: count by linestring
          source: |
            curl --location -g --request GET 'https://example-cat.com/iudx/cat/v1/count?geoproperty=location&georel=intersects&geometry=LineString&coordinates=[[73.874537,18.528311],[73.836808,18.572797],[73.876484,18.525007]]'
        - lang: cURL
          label: count by bbox
          source: |
            curl --location -g --request GET 'https://example-cat.com/iudx/cat/v1/count?geoproperty=location&georel=within&geometry=bbox&coordinates=[[73,20],[75,18]]'
        - lang: cURL
          label: count by text
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/count?q="Bosch Climo"'
  /geo:
    get:
      tags:
        - Discovery
      description: |
        List of all geolocations that match with value in parameter having maximum confidence
      operationId: get geolocations
      parameters:
        - name: q
          in: query
          description: location for which information is needed.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForGeoLocations'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForDiscovery'
              examples:
                Location Not Found:
                  value:
                    "type": "urn:dx:cat:ItemNotFound"
                    "title": "location not found"
                    "detail": "failed"
                Invalid Param Value:
                  value:
                    "type": "urn:dx:cat:InvalidParamValue"
                    "title": "invalidValue"
                    "detail": "failed"
                Invalid Geo Value:
                  value:
                    "type": "urn:dx:cat:InvalidGeoValue"
                    "title": "Geoquery value error"
                    "detail": "failed"
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/geo?q=malleswaram'
  '/list/{type}':
    get:
      tags:
        - List
      description: List a particular type
      operationId: list types
      parameters:
        - name: instance
          in: header
          description: |
            DX instance on which this query is to be made. Don't mention this is list on entire catalogue is to be made. Else mentioning a specific instance name here restricts search only to that instance.
          schema:
            type: string
            example: 'pune, surat, varanasi'
        - name: type
          in: path
          description: |
            If entites, then type must be resource, resourceGroup, resourceServer, provider, cos, owner. If
            properties then only tags is supported. Additionally all instances can also be listed
            as `instance`.
          required: true
          schema:
            enum:
              - tags
              - resourceServer
              - resourceGroup
              - instance
              - provider
              - cos
              - owner
            minLength: 4
            maxLength: 50
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/listInstances'
                  - $ref: '#/components/schemas/listTypesOwner'
                  - $ref: '#/components/schemas/listTypesCos'
                  - $ref: '#/components/schemas/listTags'
                  - $ref: '#/components/schemas/listResourceGroup'
                  - $ref: '#/components/schemas/listResourceServer'
                  - $ref: '#/components/schemas/listProviders'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listTypesErrorResponse'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: list by tags
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/list/tags'
        - lang: cURL
          label: list by instance
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/list/instance'
        - lang: cURL
          label: list by resourceGroup
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/list/resourceGroup'
        - lang: cURL
          label: list by resourceServer
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/list/resourceServer'
        - lang: cURL
          label: by provider
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/list/provider'
        - lang: cURL
          label: by cos
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/list/cos'
        - lang: cURL
          label: by owner
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/list/owner'
  /item:
    post:
      tags:
        - Entity
      description: |
        Insert an item into the catalogue where the item's body specifies the type of item and instance name. id and itemStatus are added by server. Items maybe subClasses of type [IUDXEntity](https://voc.iudx.org.in/IUDXEntity). Depending on this, some properties maybe mandatory. The json schema for the different types can be found [here](https://github.com/datakaveri/iudx-catalogue-server/tree/master/src/main/resources/iudx/catalogue/server/validator). In the future, we will serve schemas from our own servers.
      operationId: create item
      parameters:
        - name: token
          in: header
          description: DX Auth token to process the request
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/exampleEntityOwner'
                - $ref: '#/components/schemas/exampleEntityCos'
                - $ref: '#/components/schemas/exampleEntityResourceServer'
                - $ref: '#/components/schemas/exampleEntityProvider'
                - $ref: '#/components/schemas/exampleEntityResourceGroup'
                - $ref: '#/components/schemas/exampleEntityResource'
      responses:
        '201':
          description: Successfully inserted
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/successResponseForCreateOwnerEntity'
                  - $ref: '#/components/schemas/successResponseForCreateCosEntity'
                  - $ref: '#/components/schemas/successResponseForCreateResourceServerEntity'
                  - $ref: '#/components/schemas/successResponseForCreateProviderEntity'
                  - $ref: '#/components/schemas/successResponseForCreateResourceGroupEntity'
                  - $ref: '#/components/schemas/successResponseForCreateResourceEntity'
        '400':
          description: Invalid document
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/errorInvalidSchema'
                  - $ref: '#/components/schemas/errorInvalidUUID'
                  - $ref: '#/components/schemas/errorInvalidLinks'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseWithObjects'
              examples:
                Unauthorized:
                  value:
                    type: 'urn:dx:cat:InvalidAuthorizationToken'
                    title: 'Token is invalid'
                    detail: 'failed to decode/validate jwt token : Invalid format for JWT'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: create item cURL
          source: |
            curl --location --request POST 'https://example-cat.com/iudx/cat/v1/item/' \
            --header 'token: <token>' \
            --header 'Content-Type: application/json' \
            --data-raw '<payload>'

    put:
      tags:
        - Entity
      description: |
        Update an item where the body contains a fully valid item with id. Relationship links like
        provider, resourceGroup, resourceServer and "name" are not allowed to be updated. itemStatus is added by backend.
        Items maybe subClasses of type [IUDXEntity](https://voc.iudx.org.in/IUDXEntity). Depending on this, some properties maybe mandatory.
        The json schema for the different types can be found [here](https://github.com/datakaveri/iudx-catalogue-server/tree/master/src/main/resources/iudx/catalogue/server/validator). In the future, we will serve schemas from our own servers.
        #### Non-updateable fields
        In case update of these fields is required, it is recommended to delete the item
        and re-upload it.
        1. iudx:Resource
           - id
           - provider
           - resourceGroup
           - resourceServer
           - name 
           - type (1st element in array non-modifiable)
           - itemStatus

        2. iudx:ResourceGroup
           - id
           - name
           - provider
           - type (1st element in array non-modifiable)
           - itemStatus

        3. iudx:ResourceServer
           - id
           - cos
           - owner
           - type (1st element in array non-modifiable)
           - itemStatus

        4. iudx:Provider
           - id
           - resourceServer
           - type (1st element in array non-modifiable)
           - itemStatus

        5. iudx:Cos
           - id
           - owner
           - name
           - type (1st element in array non-modifiable)
           - itemStatus
        
        6. iudx:Owner
           - id
           - name
           - type (1st element in array non-modifiable)
           - itemStatus
      operationId: update item
      parameters:
        - name: token
          in: header
          description: DX Auth token to process the request
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512

      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/exampleEntityWIdOwner'
                - $ref: '#/components/schemas/exampleEntityWIdCos'
                - $ref: '#/components/schemas/exampleEntityWIdResourceServer'
                - $ref: '#/components/schemas/exampleEntityWIdProvider'
                - $ref: '#/components/schemas/exampleEntityWIdResourceGroup'
                - $ref: '#/components/schemas/exampleEntityWIdResource'
      responses:
        '200':
          description: Successfully inserted
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/successResponseForUpdateOwnerEntity'
                  - $ref: '#/components/schemas/successResponseForUpdateCosEntity'
                  - $ref: '#/components/schemas/successResponseForUpdateResourceServerEntity'
                  - $ref: '#/components/schemas/successResponseForUpdateProviderEntity'
                  - $ref: '#/components/schemas/successResponseForUpdateResourceGroupEntity'
                  - $ref: '#/components/schemas/successResponseForUpdateResourceEntity'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/errorInvalidSchema2'
                  - $ref: '#/components/schemas/errorInvalidLinks'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseWithObjects'
              examples:
                Unauthorized:
                  value:
                    type: 'urn:dx:cat:InvalidAuthorizationToken'
                    title: 'Token is invalid'
                    detail: 'failed to decode/validate jwt token : Invalid format for JWT'
        '404':
          description: Document doesn't exist to update it
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateItemNotFound'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: update item cURL
          source: |
            curl --location --request PUT 'https://example-cat.com/iudx/cat/v1/item/' \
            --header 'token: <token>' \
            --header 'Content-Type: application/json' \
            --data-raw '<payload>'

    get:
      tags:
        - Entity
      description: Get an item given the id
      operationId: get item
      parameters:
        - name: id
          in: query
          description: ID of the DX Entity
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Found the item.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/successResponseForGetOwnerEntity'
                  - $ref: '#/components/schemas/successResponseForGetCosEntity'
                  - $ref: '#/components/schemas/successResponseForGetResourceServerEntity'
                  - $ref: '#/components/schemas/successResponseForGetProviderEntity'
                  - $ref: '#/components/schemas/successResponseForGetResourceGroupEntity'
                  - $ref: '#/components/schemas/successResponseForGetResourceEntity'
        '400':
          description: Invalid ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invalidIdErrorResponse'
        '404':
          description: Didn't find the item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForGetEntity'
              example:
                type: "urn:dx:cat:ItemNotFound"
                title: 'error'
                totalHits: 0
                results:
                  []
                details: "doc doesn't exist"

      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: item by id
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/item?id=uuid'
    delete:
      tags:
        - Entity
      description: Delete an item
      operationId: delete item
      parameters:
        - name: token
          in: header
          description: DX Auth token to process the request
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
        - name: id
          in: query
          description: ID of the DX Entity
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseWithObjects'
              examples:
                Delete Success:
                  value:
                    type: 'urn:dx:cat:Success'
                    title: Success
                    results:
                      - id: "6e58c916-f6c1-448d-acea-756f3272bc57"
                    detail: 'Success: Item deleted successfully'
        '400':
          description: Invalid uuid format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unAuthorizedAccess'
              examples:
                Invalid uuid:
                  value:
                    type: 'urn:dx:cat:InvalidSyntax'
                    title: "Invalid Syntax"
                    detail: "Fail: The syntax of the id is incorrect"
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unAuthorizedAccess'
        '404':
          description: Didn't find the item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unAuthorizedAccess'
              examples:
                Item not found to Delete:
                  value:
                    type: 'urn:dx:cat:ItemNotFound'
                    title: "Item is not found"
                    details: "Fail: Doc doesn't exist, can't perform operation"
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: delete item
          source: |
            curl --location --request DELETE 'https://example-cat.com/iudx/cat/v1/item?id=uuid' \
            --header 'token: <token>'
  /relsearch:
    get:
      tags:
        - Relationship
      description: 'Search related items in the catalogue '
      operationId: relationship search
      parameters:
        - name: instance
          in: header
          description: |
            DX instance on which this query is to be made. Don't mention this if relsearch on
            entire catalogue is to be made. Else mentioning a specific instance name here
            restricts search only to that instance.
          required: false
          schema:
            type: string
            maxLength: 100
            example: 'pune, surat, varanasi'
        - name: relationship
          in: query
          description: |
            Relationship attribute on which the query is to be made. For
            e.g, entities whose related provider entity's name needs to match xyz will
            have this field as "[provider.name]". The relationship is enclosed in [].
            If there are two relationships, then they must be comma separated. For e.g,
            [provider.name, resourceGroup.name].
          required: false
          schema:
            type: array
            items:
              type: string
        - name: value
          in: query
          description: |
            Value of the relationship. Multiple values for a single relationship are supported,
            for e.g, [[val1, val2]].

            If multiple relationships are specified, then their values will occur as so -
            [[rel1-val1],[rel2-val1]]
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success Response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/relSearch1'
                  - $ref: '#/components/schemas/relSearch2'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relSearchErrorResponse'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: search inside relationship
          source: |
            curl --location -g --request GET 'https://example-cat.com/iudx/cat/v1/relsearch?relationship="[provider.name]"&value="[[IUDXAdmin]]"'
  /relationship:
    get:
      tags:
        - Relationship
      description: |
        This API allows one to retrieve documents which are connected by certain relationship attribute in an entity. It allows one to fetch an entity/entities that are immediate neighbor(s) of the input entity.
        To explain this API better we provide an illustrative catalogue graph connecting different catalogue entities below: 
        ```
                                  forward relationship
                               ───────────────────►

                                                                 ┌─────────────────┐      
        ┌───────────────┐                                        │                 │                 
        │               ├────────────────────────────────────────► ResourceServer  │ 
        │ Resource  RI  │                                  ┌─────►      RS         │     
        │               ├─────┐                            │     └─────────────────┘     
        └───────────────┘     │    ┌─────────────────┐     │               │
                │             │    │                 ├─────┘               │
                │             └────► Provider PA     │                     │
                │             ┌────►                 │                     ▼              
                ▼             │    └─────────────────┘            ┌────────────────┐     
        ┌───────────────┐     │                                   │                │     
        │               │     │                                   │ COS cos        │
        │ ResourceGroup │     │                                   │                │ 
        │      RG       ├─────┘                                   └────────────────┘               
        └───────────────┘  
        
        
        
                               ◄────────────────────
                                   inverse relationship
        ```   
        Given a resource item, say Resource A, one may want to retrieve the resource group item associated with it. Similarly, given a resource group item, say RG1, one may want to retrieve all resource entities that belong to this resource group.
        The following table shows applicable queries for different entities.


        | Type of the entity (id) | Supported relationships for "rel"                | Description                                                                                                                   |
        |-------------------------|------------------------------------------------- |-------------------------------------------------------------------------------------------------------------------------------|
        | Resource                | resourceGroup,provider, resourceServer, cos      | Return the associated resourceGroup (or resourceServer or provider or cos) entity. Only single entity is returned.            │ 
        | ResourceGroup           | resource                                         | Return all resource items associated with the input resource group. Multiple entities may be returned.                        |
        | ResourceGroup           | resourceServer, provider, cos                    | Return the associated resourceServer (or provider or cos) entity. Only single entity is returned.                             |
        | Provider                | resource, resourceGroup                          | Return all resource or resource group items associated with the input provider. Multiple entities maybe returned.             |
        | Provider                | resourceServer, cos                              | Return the associated resourceServer (or cos) entity. Only single entity is returned.                                         |
        | ResourceServer          | resource, resourceGroup, provider                | Return all resource or resource group items associated with the input resource server. Multiple entities maybe returned.      |
        | ResourceServer          | cos                                              | Return the cos entity. Only single entity is returned.                                                                        |

         > **_NOTE:_** For the item types resource, resourceGroup, provider and resourceServer a special relationship value `rel=all` returns all the parent documents of the given entity(the result also includes the item itself.)
      operationId: get related entity
      parameters:
        - name: instance
          in: header
          description: |
            DX instance on which this query is to be made. Don't mention this if relationship search
            on entire catalogue is to be made. Else mentioning a specific instance name here restricts
            search only to that instance.
          required: false
          schema:
            type: string
        - name: rel
          in: query
          description: Relationship attribute of the entity whose id is provided
          required: true
          schema:
            enum:
              - provider
              - resourceGroup
              - resourceServer
              - resource
              - cos
              - all
              - type
        - name: id
          in: query
          description: id of the entity
          required: true
          schema:
            type: string
            maxLength: 512
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/successResponseForRelationship'
                  - $ref: '#/components/schemas/successResponseForRelationship2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForRelationship'
              examples:
                Invalid Item Type:
                  value:
                    type: 'urn:dx:cat:InvalidRelationSearch'
                    title: Invalid relationship type search
                    detail: Invalid relationship type search
                Invalid Resource Group:
                  value:
                    type: "urn:dx:cat:ItemNotFound"
                    title: "Item is not found"
                    detail: "Item id given is not present"
                Invalid Resource Id:
                  value:
                    type: "urn:dx:cat:ItemNotFound"
                    title: "Item is not found"
                    detail: "Item id given is not present"
                Invalid Query Param:
                  value:
                    type: "urn:dx:cat:InvalidParamValue"
                    title: "Invalid value for a query param"
                    detail: "Invalid relationship value"
                Invalid Syntax:
                  value:
                    type: "urn:dx:cat:MissingParams"
                    "title": "Missing parameters"
                    "detail": "Mandatory field(s) not provided"
                Invalid Filter error:
                  value:
                    "title": "failed"
                    "type": "urn:dx:cat:BadFilter"
                    "detail": "The max number of 'filter' should be 10"
                Invalid limit and offset:
                  value:
                    "title": "failed"
                    "type": "urn:dx:cat:InvalidPropertyValue"
                    "detail": "The limit + offset should be between 1 to 10000"
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: search by resourceGroup relationship
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/relationship?id=<resource-id>&rel=resourceGroup'
        - lang: cURL
          label: search by "all" relationship
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/relationship?id=<resource-group-id>&rel=all'
  /instance:
    post:
      tags:
        - Administrator
      description: Create an DX instance
      operationId: create instance
      parameters:
        - name: token
          in: header
          description: DX Auth token to process the request
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
        - name: id
          in: query
          description: |
            `id` of the instance. In most cases this is a city name.
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Successfully inserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseCreateInstance'
              examples:
                Created instance successfully:
                  value:
                    type: "urn:dx:cat:Success"
                    results: {
                      "id": "Bengaluru",
                      "type": [
                        "iudx:Instance"
                      ],
                      "instance": "",
                      "_summary": ""
                    }
                    detail: "Success: Item created"
                    title: "Success"

        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForCreateInstance'
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unAuthorizedAccess'
              examples:
                Unauthorized request:
                  value:
                    type: "urn:dx:cat:InvalidAuthorizationToken"
                    title: "Token is invalid"
                    detail: "Incorrect audience value in jwt"
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: create instance
          source: |
            curl --location --request POST 'https://example-cat.com/iudx/cat/v1/instance?id=Bengaluru' \
            --header 'token: <token>' \
            --data-raw ''
  /list/instance:
    get:
      tags:
        - Administrator
      description: This API gets the list of instances from the DX Catalogue Server
      operationId: get instances
      responses:
        '200':
          description: Successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForGetInstance'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: create instance
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/list/instance'
    delete:
      tags:
        - Administrator
      description: Delete an DX instance
      operationId: delete instance
      parameters:
        - name: token
          in: header
          description: DX Auth token to process the request
          required: true
          schema:
            type: string
        - name: id
          in: query
          description: |
            id of the instance. In most cases this is a city name.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForDeleteInstance'
              examples:
                Successfully deleted:
                  value:
                    type: "urn:dx:cat:Success"
                    title: "Success"
                    results: [
                      {
                        "id": "poone"
                      }
                    ]
                    detail: "Success: Item deleted successfully"
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unAuthorizedAccess'
              examples:
                Unauthorized access:
                  value:
                    type: "urn:dx:cat:InvalidAuthorizationToken"
                    title: "Token is invalid"
                    detail: "Incorrect audience value in jwt"
        '404':
          description: Instance doesn't exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForDeleteInstance'
              examples:
                Item not found:
                  value:
                    type: "urn:dx:cat:ItemNotFound"
                    title: "Item is not found"
                    results: [
                      {
                        "id": "non-exisiting-id",
                        "detail": "Fail: Doc doesn't exist, can't delete"
                      }
                    ]
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: delete instance
          source: |
            curl --location --request DELETE 'https://example-cat.com/iudx/cat/v1/instance?id=Bengaluru' \
            --header 'token: <token>'
  /consumer/ratings:
    post:
      tags:
        - Consumer
      description: |
        Create a rating object for a resource item.

          ` A consumer can provide a rating for a resource item only if they have queried the resource from the DX Resource Server a min number of times. For eg: 100 API calls. `
      operationId: create rating object
      parameters:
        - name: token
          in: header
          description: DX Auth token to process the request
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
        - name: id
          in: query
          description: ID of the DX Entity
          required: true
          schema:
            type: string
            maxLength: 512
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exampleRating'
      responses:
        '201':
          description: Successfully inserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForConsumerRating'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForConsumerRating'
              examples:
                Invalid Schema:
                  value:
                    type: urn:dx:cat:InvalidSchema
                    title: Invalid Schema
                    detail: Invalid Schema
                    results:
                      - '[ECMA 262 regex "^[a-zA-Z0-9]([\w-]*[a-zA-Z0-9 ])?$" does not match input string "bgfnbgj!!!"]'

                Invalid Access Count:
                  value:
                    type: 'urn:dx:cat:AccessDenied'
                    title: Resource usage requirements not satisfied
                    detail: "User has to access resource at least 100 times to give rating"
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
              examples:
                unAuthorizedAccess:
                  value:
                    type: "urn:dx:cat:InvalidAuthorizationToken"
                    title: "Token is invalid"
                    detail: "Authorization failed, Invalid token."
      servers:
        - url: 'https://example-cat.com/'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: create rating
          source: |
            curl --location --request POST 'https://example-cat.com/consumer/ratings?id=iisc.ac.in/89a36273d77dac4cf38114fca1bbe64392547f86/rs.iudx.io/surat-itms-realtime-information/surat-itms-live-eta' \
            --header 'token: <token>' \
            --header 'Content-Type: application/json' \
            --data-raw '<payload>'
    put:
      tags:
        - Consumer
      description: Update a rating object of a resource item
      operationId: update rating object
      parameters:
        - name: token
          in: header
          description: DX Auth token to process the request
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
        - name: id
          in: query
          description: ID of the DX Entity
          required: true
          schema:
            type: string
            maxLength: 512
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exampleRating'
      responses:
        '200':
          description: Successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForUpdateRating'
        '400':
          description: Invalid document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForUpdateRating'
              examples:
                errorResponse:
                  value:
                    type: urn:dx:cat:InvalidSchema
                    title: Invalid Schema
                    detail: Invalid Schema
                    results:
                      - '[ECMA 262 regex "^[a-zA-Z0-9]([\w-]*[a-zA-Z0-9 ])?$" does not match input string "bgfnbgj!!!"]'

        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
              examples:
                unAuthorizedAccess:
                  value:
                    type: "urn:dx:cat:InvalidAuthorizationToken"
                    title: "Token is invalid"
                    detail: "Authorization failed, Invalid token."
      servers:
        - url: 'https://example-cat.com/'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: update rating
          source: |
            curl --location --request PUT 'https://example-cat.com/consumer/ratings?id=iisc.ac.in/89a36273d77dac4cf38114fca1bbe64392547f86/rs.iudx.io/surat-itms-realtime-information/surat-itms-live-eta' \
            --header 'token: <token>' \
            --header 'Content-Type: application/json' \
            --data-raw '<payload>'
    get:
      tags:
        - Consumer
      description: |
        Get a rating, all ratings or average rating for a resource or for a resource group
      operationId: get ratings
      parameters:
        - name: token
          in: header
          description: DX Auth token to process the request
          required: false
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
        - name: id
          in: query
          description: ID of the DX Entity
          required: true
          schema:
            type: string
            maxLength: 512
        - name: type
          in: query
          description: Get all ratings or average rating based on type
          required: false
          schema:
            enum:
              - average
              - group
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/successResponseGetRating'
                  - $ref: '#/components/schemas/successResponseAvgRating'
                  - $ref: '#/components/schemas/successResponseAllRatings'
        '204':
          description: No content
        '400':
          description: Inavlid Id
          content:
            application/json:
              examples:
                Invalid id:
                  value:
                    type: "urn:dx:cat:InvalidParamValue"
                    title: "Invalid value for a query param"
                    detail: "Invalid value for id"
        '401':
          description: Unauthorized access
          content:
            application/json:
              examples:
                Unauthorized access:
                  value:
                    type: "urn:dx:cat:InvalidAuthorizationToken"
                    title: "Token is invalid"
                    detail: "Authorization failed, Invalid token."
      servers:
        - url: 'https://example-cat.com/'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: get user rating
          source: |
            curl --location --request GET 'http://example-cat.com/consumer/ratings?id=datakaveri.org/1022f4c20542abd5087107c0b6de4cb3130c5b7b/rs.iudx.io/sqtc-test-group-1/FWR015' --header 'token: <consumer-token>'
        - lang: cURL
          label: get all rating of resource
          source: |
            curl --location --request GET 'https://example-cat.com/consumer/ratings?id=iisc.ac.in/89a36273d77dac4cf38114fca1bbe64392547f86/rs.iudx.io/surat-itms-realtime-information/surat-itms-live-eta&type=group'
        - lang: cURL
          label: get average rating of resource
          source: |
            curl --location --request GET 'https://example-cat.com/consumer/ratings?id=datakaveri.org/04a15c9960ffda227e9546f3f46e629e1fe4132b/rs.iudx.io/pune-env-flood&type=average'
    delete:
      tags:
        - Consumer
      description: delete a rating object for a resource item
      operationId: delete rating object
      parameters:
        - name: token
          in: header
          description: DX Auth token to process the request
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
        - name: id
          in: query
          description: ID of the DX Entity
          required: true
          schema:
            type: string
            maxLength: 512
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForDeleteRatingObject'
        '401':
          description: Unauthorized access
          content:
            application/json:
              examples:
                Unathorized:
                  value:
                    type: "urn:dx:cat:InvalidAuthorizationToken"
                    title: "Token is invalid"
                    detail: "Authorization failed, Invalid token."
      servers:
        - url: 'https://example-cat.com/'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: delete rating
          source: |
            curl --location --request DELETE 'https://example-cat.com/consumer/ratings?id=iisc.ac.in/89a36273d77dac4cf38114fca1bbe64392547f86/rs.iudx.io/surat-itms-realtime-information/surat-itms-live-eta' \
            --header 'token: <token>'
  /internal/ui/instance:
    post:
      tags:
        - Mlayer Instance
      operationId: create instance
      parameters:
        - name: token
          in: header
          description: A valid DX Authorization token
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
      requestBody:
        description: 'Create a new Instance using name, cover, icon, logo.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exampleInstance'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForCreatingInstance'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForCreatingInstance'
        '401':
          description: Unauthorized access
          content:
            application/json:
              examples:
                unAuthorized:
                  value:
                    type: "urn:dx:cat:InvalidAuthorizationToken"
                    title: "Token is invalid"
                    detail: "Authorization failed, Invalid token."
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: create instance
          source: |
            curl --location --request POST 'https://example-cat.com/iudx/cat/v1/internal/ui/instance' \
            --header 'token: <token>' \
            --header 'Content-Type: application/json' \
            --data-raw '<payload>'
    put:
      tags:
        - Mlayer Instance
      description: Update the instance of the middle layer
      operationId: update instance
      parameters:
        - name: token
          in: header
          description: Authorization token
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
        - name: id
          in: query
          description: |
            `id` of the instance to be updated
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exampleInstance'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForUpdatingInstance'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForCreatingInstance'
        '401':
          description: Unauthorized access
          content:
            application/json:
              examples:
                unAuthorized:
                  value:
                    type: "urn:dx:cat:InvalidAuthorizationToken"
                    title: "Token is invalid"
                    detail: "Authorization failed, Invalid token."
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: update instance
          source: |
            curl --location --request PUT 'https://example-cat.com/iudx/cat/v1/internal/ui/instance?instanceId=191e35e3-99c2-43a5-ba8d-811a756b08de' \
            --header 'token: <token>' \
            --header 'Content-Type: application/json' \
            --data-raw '<payload>'
    get:
      tags:
        - Mlayer Instance
      description: |
        Get list of all Instances
        
        #### Limits and filters
          - Documents returned can be limited by specifying a limit and offset. For e.g, `limit=100&offset=10` gives 100 documents from the 10th search result.
          - A subset of properties of returned documents can be filtered out. For e.g, `filter=[id]` returns documents with only the `id` property retained in them.
          - The sum of `offset` and `limit` should `<= 10000`, i.e. if the `offset=100`, then max `limit` should be `9900` and so on.
      operationId: get instance
      parameters:
        - name: id
          in: query
          description: |
            `id` of the instance to be fetched
          schema:
            type: string
        - name: limit
          in: query
          description: |
            `limit` of the data model domain, to be fetched
          schema:
            type: string
        - name: offset
          in: query
          description: |
            `offset` of the data model domain, to be fetched
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForGettingInstance'
        '400':
          description: Invalid Parameter
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/invalidResponseForWrongLimitValues'
                  - $ref: '#/components/schemas/invalidResponseForWrongOffsetValues'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: get instance
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/internal/ui/instance'
    delete:
      tags:
        - Mlayer Instance
      description: delete an instance using id parameter
      operationId: delete instance
      parameters:
        - name: token
          in: header
          description: Authorization token
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
        - name: id
          in: query
          description: |
            `id` of the Instance to be deleted.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForDeletingInstance'
        '401':
          description: Unauthorized access
          content:
            application/json:
              examples:
                unAuthorized:
                  value:
                    type: "urn:dx:cat:InvalidAuthorizationToken"
                    title: "Token is invalid"
                    detail: "Authorization failed, Invalid token."
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: delete instance
          source: |
            curl --location --request DELETE 'https://example-cat.com/iudx/cat/v1/internal/ui/instance?instanceId=191e35e3-99c2-43a5-ba8d-811a756b08de' \
            --header 'token: <token>'
  /internal/ui/domain:
    post:
      tags:
        - Mlayer Domain
      description: |
        Create a new Data model Domain
      operationId: create domain
      parameters:
        - name: token
          in: header
          description: A valid DX Authorization token
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
      requestBody:
        description: 'Create a new domain using name, label, icon, description.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exampleDomain'
      responses:
        '201':
          description: Successfully inserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForCreatingDomain'
        '400':
          description: Invalid document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForCreatingInstance'
        '401':
          description: Unauthorized access
          content:
            application/json:
              examples:
                unAuthorized:
                  value:
                    type: "urn:dx:cat:InvalidAuthorizationToken"
                    title: "Token is invalid"
                    detail: "Authorization failed, Invalid token."
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: create domain
          source: |
            curl --location --request POST 'https://example-cat.com/iudx/cat/v1/internal/ui/domain' \
            --header 'token: <token>' \
            --header 'Content-Type: application/json' \
            --data-raw '<payload>'
    put:
      tags:
        - Mlayer Domain
      description: Update the data model domain of the middle layer
      operationId: update domain
      parameters:
        - name: token
          in: header
          description: Authorization token
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
        - name: id
          in: query
          description: |
            `id` of the data model domain, to be updated
          required: true
          schema:
            type: string
      requestBody:
        description: 'name, label, icon and description can be updated.'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exampleDomain'
      responses:
        '200':
          description: Successfully inserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForUpdatingDomain'
        '400':
          description: Invalid document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForCreatingInstance'
        '401':
          description: Unauthorized access
          content:
            application/json:
              examples:
                unAuthorized:
                  value:
                    type: "urn:dx:cat:InvalidAuthorizationToken"
                    title: "Token is invalid"
                    detail: "Authorization failed, Invalid token."
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: update domain
          source: |
            curl --location --request PUT 'https://example-cat.com/iudx/cat/v1/internal/ui/domain?domainId=3d73067f-2855-4155-b918-14d621b7a576' \
            --header 'token: <token>' \
            --header 'Content-Type: application/json' \
            --data-raw '<payload>'
    get:
      tags:
        - Mlayer Domain
      description: |
        Get list of all Data-model Domains.
        
        #### Limits and filters
          - Documents returned can be limited by specifying a limit and offset. For e.g, `limit=100&offset=10` gives 100 documents from the 10th search result.
          - A subset of properties of returned documents can be filtered out. For e.g, `filter=[id]` returns documents with only the `id` property retained in them.
          - The sum of `offset` and `limit` should `<= 10000`, i.e. if the `offset=100`, then max `limit` should be `9900` and so on.
      operationId: get domain
      parameters:
        - name: id
          in: query
          description: |
            `id` of the data model domain, to be fetched
          schema:
            type: string
        - name: limit
          in: query
          description: |
            `limit` of the data model domain, to be fetched
          schema:
            type: string
        - name: offset
          in: query
          description: |
            `offset` of the data model domain, to be fetched
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForGettingDomain'
        '400':
          description: Invalid Parameter
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/invalidResponseForWrongLimitValues'
                  - $ref: '#/components/schemas/invalidResponseForWrongOffsetValues'

      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: get domain
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/internal/ui/domain'
    delete:
      tags:
        - Mlayer Domain
      description: delete a data model domain
      operationId: delete domain
      parameters:
        - name: token
          in: header
          description: Authorization token
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9\/\@\.]*$'
            maxLength: 512
        - name: id
          in: query
          description: |
            `id` of the Domain to be deleted.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForDeletingDomain'
        '401':
          description: Unauthorized access
          content:
            application/json:
              examples:
                unAuthorized:
                  value:
                    type: "urn:dx:cat:InvalidAuthorizationToken"
                    title: "Token is invalid"
                    detail: "Authorization failed, Invalid token."
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: delete domain
          source: |
            curl --location --request DELETE 'https://example-cat.com/iudx/cat/v1/internal/ui/domain?domainId=3d73067f-2855-4155-b918-14d621b7a576' \
            --header 'token: <token>'
  /internal/ui/providers:
    get:
      tags:
        - MLayer
      description: |
        A catalogue API to list all providers, which will be reflected on the catalogue UI.
        
        #### Limits and filters
          - Documents returned can be limited by specifying a limit and offset. For e.g, `limit=100&offset=10` gives 100 documents from the 10th search result.
          - A subset of properties of returned documents can be filtered out. For e.g, `filter=[id]` returns documents with only the `id` property retained in them.
          - The sum of `offset` and `limit` should `<= 10000`, i.e. if the `offset=100`, then max `limit` should be `9900` and so on.
      operationId: get providers
      parameters:
        - name: limit
          in: query
          description: |
            `limit` of the data model domain, to be fetched
          schema:
            type: string
        - name: offset
          in: query
          description: |
            `offset` of the data model domain, to be fetched
          schema:
            type: string
        - name: instance
          in: query
          description: |
            `name` of the instance from where the dataset information has to be fetched
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForUIProvider'
        '400':
          description: Invalid Parameter
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/invalidResponseForWrongLimitValues'
                  - $ref: '#/components/schemas/invalidResponseForWrongOffsetValues'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: get providers
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/internal/ui/providers'
  /internal/ui/geoquery:
    post:
      tags:
        - MLayer
      description: |
        A catalogue API to get location of all resource groups whose id(s) are provided, which will be reflected on the catalogue UI.
      operationId: get map view
      requestBody:
        description: id's of the dataset belonging to instance whose location is needed.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exampleReqBodyMapView'
      responses:
        '200':
          description: Successfully inserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForGettingGeoquery'
        '400':
          description: Invalid document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForCreatingInstance'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: get geoquery
          source: |
            curl --location --request POST 'https://example-cat.com/iudx/cat/v1/internal/ui/geoquery' \
            --header 'Content-Type: application/json' \
            --data-raw '<payload>'
  /internal/ui/dataset:
    get:
      tags:
        - Mlayer Dataset
      description: |
        Fetches details of all the datasets.
      operationId: get datasets
      parameters:
        - name: limit
          in: query
          description: |
            `limit` of the data model domain, to be fetched
          schema:
            type: string
        - name: offset
          in: query
          description: |
            `offset` of the data model domain, to be fetched
          schema:
            type: string
      responses:
        '200':
          description: Successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForGettingDatasets'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: get dataset
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/internal/ui/dataset'
    post:
      tags:
        - Mlayer Dataset
      description: Fetches the dataset details of a particular dataset using dataset_id. Domains, Instance, Tags and provider field can be used to filter the datasets.
      operationId: get dataset and its resources
      parameters:
        - name: limit
          in: query
          description: |
            `limit` of the data model domain, to be fetched
          schema:
            type: string
        - name: offset
          in: query
          description: |
            `offset` of the data model domain, to be fetched
          schema:
            type: string
      requestBody:
        description: 'Based on id dataset and its resources are retrieved. If id field blank or not present then, tags, providers and instance can be used to filter from all datasets.'
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/exampleReqBodyDatasetById'
                - $ref: '#/components/schemas/exampleReqBodyDatasetByTags'
                - $ref: '#/components/schemas/exampleReqBodyDatasetByAllField'
      responses:
        '200':
          description: Successfully fetched
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/successResponseForPostDataset'
                  - $ref: '#/components/schemas/successResponseForPostDatasetWithTags'
                  - $ref: '#/components/schemas/successResponseForPostDatasetWithTagsInstanceProviderFields'
                  - $ref: '#/components/schemas/successResponseForPostDatasetGetAllDatasets'

        '400':
          description: Invalid Document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForCreatingInstance'
        '404':
          description: dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForObjectNotFound'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: post dataset
          source: |
            curl --location --request POST 'https://example-cat.com/iudx/cat/v1/internal/ui/dataset' \
            --header 'Content-Type: application/json' \
            --data-raw '<payload>'
  /internal/ui/popularDatasets:
    get:
      tags:
        - MLayer
      description: |
        A catalogue API to get data for the landing page, which will be reflected on the catalogue UI. <br> **Instances (4)** - On sorting alphabetically, First four instances are required. <br> **Featured Datasets (6)** - (Views) Based on the count of views sort top 6 records. <br> **latest dataset (6)** - (itemCreatedAt) Dataset which was recently added, top 6 records.
      operationId: get popular datasets
      parameters:
        - name: instance
          in: query
          description: |
            `name` of the instance from where the dataset information has to be fetched
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseForPopularDatasets'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: get popularDatasets
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/internal/ui/popularDatasets'
  /nlpsearch:
    get:
      tags:
        - NLP
      operationId: NLP search
      parameters:
        - name: q
          in: query
          description: An English sentence
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successResponseWithObjects'
              examples:
                Success Response:
                  value:
                    type: "urn:dx:cat:Success"
                    title: "Success"
                    results:
                      -  accessPolicy: "OPEN"
                         apdURL: "acl-apd.iudx.io"
                         provider: "bbeacb12-5e54-339d-92e0-d8e063b551a8"
                         resourceServer: "49cf5c76-09de-11ee-be56-0242ac120002"
                         owner: "13bf961b-b1f4-3f7f-a651-b1b1965a4067"
                         resourceGroup: "1173f774-794e-4ed0-9c41-281256d44b6a"
                         instance: "pune"
                         iudxResourceAPIs:
                           - "SPATIAL"
                           - "ATTR"
                         _geosummary:
                           _geocoded:
                             results:
                               - country: "India"
                                 bbox: [ 76.703813, 30.665456, 76.848368, 30.795316 ]
                                 name: "Chandigarh"
                                 county: "Chandigarh"
                                 locality: "Chandigarh"
                                 region: "Chandigarh"
                               - country: "India"
                                 bbox: [ 76.95681, 28.07989, 76.99681, 28.11989 ]
                                 name: "Chandigarh"
                                 county: "Mewat"
                                 locality: "Chandigarh"
                                 region: "Haryana"
                           _reverseGeocoded: { }
                         description: "Paid parking locations in Chandigarh city."
                         label: "Chandigarh Paid Parking Locations"
                         type:
                           - "iudx:Resource"
                           - "iudx:PointOfInterest"
                         '@context': "https://voc.iudx.org.in/"
                         tags:
                           - "parking"
                           - "docking"
                           - "leave"
                           - "station"
                           - "stop"
                           - "places"
                           - "parking lot"
                           - "paid parking"
                           - "vehicle"
                           - "car"
                           - "bike"
                           - "scooter"
                           - "two-wheeler"
                           - "four-wheeler"
                           - "vehicle wheeler"
                         itemCreatedAt: "2023-09-15T05:59:05+0530"
                         dataSampleFile:
                           - relationType: "REL_FILE"
                             hasObject: "https://fs-sample-file-bucket.s3.ap-south-1.amazonaws.com/public-access/chandigarh/chandigarh-paid-parking-locations.json"
                             name: "Chandigarh Paid parking locations sample"
                             description: "Sample file for Paid parking locations in Chandigarh City."
                         itemStatus: "ACTIVE"
                         name: "paid-parking-locations"
                         location:
                           address: "Chandigarh"
                           geometry:
                             coordinates:
                               - [ 76.573333, 30.758358 ]
                               - [ 76.551361, 30.637912 ]
                               - [ 76.755981, 30.582361 ]
                               - [ 76.929016, 30.649727 ]
                               - [ 76.974334, 30.802012 ]
                               - [ 76.766967, 30.872761 ]
                               - [ 76.573333, 30.758358 ]
                             type: "Polygon"
                           type: "Place"
                         id: "a347c5b6-5281-4749-9eab-89784d8f8f9a"
                         dataSample:
                           address: "AFEEM KOTHI CHAURAHA"
                           name: "Paid Parking Camera- AFEEM KOTHI CHAURAHA"
                           location:
                             coordinates: [ 80.333972, 26.455667 ]
                             type: "Point"
                         dataDescriptor:
                           address:
                             dataSchema: "iudx:Text"
                             description: "Name of the area or locality at which the Paid parking locations is located in Chandigarh city."
                             type: [ "ValueDescriptor" ]
                           name:
                             dataSchema: "iudx:Text"
                             description: "Name of the Paid parking locations corresponding to this observation."
                             type: [ "ValueDescriptor" ]
                           dataDescriptorLabel: "Data Descriptor for Paid parking locations in Chandigarh City"
                           description: "Data attribute definitions of all Paid parking locations in Chandigarh city."
                           location:
                             dataSchema: "iudx:Point"
                             description: "Physical coordinates of the Paid parking locations corresponding to this observation."
                             type: [ "ValueDescriptor" ]
                           type:
                             - "iudx:DataDescriptor"
                             - "iudx:PointOfInterest"
                           '@context': "https://voc.iudx.org.in/"
                         resourceType: "GSLAYER"
                         ownerUserId: "b2c27f3f-2524-4a84-816e-91f9ab23f837"
                         cos: "637e32b6-9a6c-396f-914c-9db5d1a222b0"
        '404':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponseForNlpSearch'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: search
          source: |
            curl --location --request GET 'https://example-cat.com/iudx/cat/v1/nlpsearch?q=where can I halt near chandigarh'

  /internal/ui/summary:
    get:
      tags:
        - MLayer Summary
      description: |
        A catalogue API retrieves summary, including both count and size, which are then displayed on the catalogue UI. The data provided includes six key metrics, all of which are updated untill yesterday:
        1. Total Number of hits and size from beginning
        2. Last one year , no of hits and size
        3. Last six month, no of hits and size
        4. Last one month, no of hits and size
        5. Last one week, no of hits and size
        6. Yesterday, no of hits and size
      operationId: get summary datasets(hits and size)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successSummaryHitsAndSize'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: get summary datasets(hits and size)
          source: |
            curl --location --request GET 'http://example-cat.com/iudx/cat/v1/internal/ui/summary'

  /internal/ui/realtimedataset:
    get:
      tags:
        - MLayer Summary
      description: |
        A catalogue API to get real time count and size from time between 00:00 to current time, which will be reflected on the catalogue UI.
      operationId: get realtime datasets
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/successRealTimeHitsAndSize'
      servers:
        - url: 'https://example-cat.com/iudx/cat/v1'
          description: Production Instance
      x-codeSamples:
        - lang: cURL
          label: get realtime datasets
          source: |
            curl --location --request GET 'http://example-cat.com/iudx/cat/v1/internal/ui/realtimedataset'
  /stac:
    post:
      summary: Create Stac Item
      tags:
        - STAC
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: Success
                    results:
                      - id: 00940488-c3ee-4f99-a41a-48c5568643b0
                        method: insert
                        title: Success
                    detail: Stac created successfully.
                required:
                  - type
                  - results
                  - detail
                properties:
                  type:
                    type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        method:
                          type: string
                        title:
                          type: string
                  detail:
                    type: string
              examples:
                Created:
                  value:
                    type: Success
                    results:
                      - id: 00940488-c3ee-4f99-a41a-48c5568643b0
                        method: insert
                        title: Success
                    detail: Stac created successfully.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: 'urn:dx:cat:InvalidSchema'
                    title: Invalid Schema
                    detail: Invalid schema provided
                required:
                  - type
                  - title
                  - detail
                properties:
                  type:
                    type: string
                  title:
                    type: string
                  detail:
                    type: string
              examples:
                Invalid Schema:
                  value:
                    type: 'urn:dx:cat:InvalidSchema'
                    title: Invalid Schema
                    detail: Invalid schema provided
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    type: 'urn:dx:cat:InvalidAuthorizationToken'
                    title: Token is invalid
                    detail: 'failed to decode/validate jwt token : Invalid format for JWT'
                required:
                  - type
                  - title
                  - detail
                properties:
[...]
